.container {
  --color: #35549c;
  min-width: 700px;
  max-width: 850px;
  font-family: "Times New Roman, serif";
  margin: 0 auto;
  flex: 1.2;
  height: fit-content;
  min-height: 900px;
  box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.header {
  display: flex;
  flex-direction: column;
  background-color: var(--color);
  height: 10rem;
  position: relative;
}

.header .logo {
  position: absolute;
  right: 0;
  padding-right: 5rem;
  z-index: 999;
  color: white;
  filter: opacity(0.9) drop-shadow(5 5 white);
}

.header .heading {
  font-size: 3rem;
  font-weight: 500;
  padding-top: 0.75rem;
  padding-left: 2rem;
  margin-bottom: 0rem;
  text-transform: capitalize;
  color: #e7c799;
}

.profileHeader {
  letter-spacing: 3px;
}

.paddingLeft {
  padding-left: 1.5rem;
  font-size: 1.25rem;
}

.profiledetails {
  padding-left: 1.5rem;
  font-size: 0.875rem;
}

.header .subHeading {
  color: var(--color);
  font-weight: 300;
  font-size: 1.25rem;
  padding-left: 2rem;
  color: #e7c799;
}

.header .experienceHeading {
  padding-left: 2rem;
  color: #e7c799;
  letter-spacing: 1.25px;
}

.header .links {
  margin-top: 15px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  row-gap: 10px;
}

.header .link {
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.header .link svg {
  color: var(--color);
  height: 16px;
  width: 16px;
}

.main {
  display: flex;
  gap: 30px;
}

.col1 {
  flex: 1.3;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.col2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section .sectionTitle {
  font-size: 1.25rem;
  font-weight: bold;
  padding-top: 1.5rem;
  width: 50%;
}

.section {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.section .content {
  display: flex;
  flex-direction: column;
}

.section .leftSection {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: right;
}

.skillSection .skillsContent {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.section .content .item {
  border-bottom: 1px dotted lightgray;
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
  /* font-weight: bold; */
  font-size: 1000;
}

.content .educationItem {
  border-bottom: 1px dotted lightgray;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  text-align: right;
  font-size: 1000;
}
.section .content .item:last-child {
  border-bottom: none;
}

.content .title {
  font-size: 1rem;
  font-weight: bold;
}

.content .monthDuration {
  font-size: 0.875rem;
}

.content .duration {
  font-size: 0.875rem;
}

.content .subtitle {
  font-size: 0.875rem;
}

.content .subtitleHeading {
  font-weight: bold;
  font-size: 0.875rem;
}
.underline {
  text-decoration-line: underline;
}

.separator-line {
  border-right: 2px solid #030302;
  height: auto;
}

.content .overview {
  font-size: 0.875rem;
}

.content .link {
  display: flex;
  gap: 5px;
  font-size: 0.75rem;
  cursor: pointer;
  color: var(--color);
}
.content .link svg {
  height: 14px;
  width: 14px;
  color: var(--color);
}

.content .date {
  display: flex;
  gap: 0 10px;
  align-items: center;
  font-size: 0.875rem;
}

.content .passingDate {
  font-size: 0.875rem;
  text-align: right;
  letter-spacing: 3;
}

.content .date svg {
  height: 14px;
  width: 14px;
}

.content .points,
.numbered {
  font-size: 0.875rem;
  padding: 0.75rem 0 0 1rem;
  text-align: right;
  list-style-type: none;
}

.content .projectPoints {
  font-size: 0.875rem;
  padding: 0.25rem 0 0 1rem;
}

.point {
  padding-top: 0.25rem;
}

.middleSeparatorLine {
  border-right: 3px solid #b3b381;
  height: auto;
}

.separate {
  border-top: 3px solid #b3b381;
}
.hidden {
  display: none;
}
